<div class="info-container">
  {{#with college}}
    <h1>{{name}}</h1>
    {{#if history}}
      <h2>Lịch sử hình thành và phát triển</h2>
      <p>{{history}}</p>
    {{else}}
    {{/if}}
    {{#if facility}}
      <h2>Cơ sở vật chất</h2>
      <p>{{facility}}</p>
    {{else}}
    {{/if}}
  {{/with}}
  <h2>Ngành đào tạo</h2>
  <table border="1">
    <tr>
      <th>Ngành đào tạo</th>
    </tr>
    {{#each college.subject}}
      <tr>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  </table>
</div>

<button type="submit" class="saveUni">Lưu</button>

<div class="commentPost-area">
  <form action="">
    <input
      type="text"
      name="comment"
      id="Comment"
      class="commentMsg"
      placeholder="Nhập bình luận mới của bạn"
    />
    <button type="submit" class="commentSubmitBtn">Tạo bình luận</button>
  </form>
</div>

<div class="comment-area">
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>